# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Dependencies
node_modules

# Build output (copied from build stage)
.next

# Environment variables
.env
.env.local

# GitHub
.github

# Logs and temp files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

# IDE and OS specific
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
